html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.loader {
  background-color: #424447;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-bar {
  display: inline-block;
  width: 8px;
  height: 24px;
  border-radius: 4px;
  -webkit-animation: loading 1s ease-in-out infinite;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #3498db;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #c0392b;
  -webkit-animation-delay: 0.09s;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  -webkit-animation-delay: .18s;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #27ae60;
  -webkit-animation-delay: .27s;
  animation-delay: .27s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
    transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
    transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  color: #000;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.aside-links {
  display: none;
}

.aside-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  background-color: #ccc;
  left: 0;
  border: 2px solid #bbb;
  border-left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aside-links ul li {
  -webkit-transition: 1s;
  transition: 1s;
}

.aside-links ul li a {
  text-decoration: none;
}

.aside-links ul li a i {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  padding: 1.5rem;
  margin: 0;
}

.aside-links ul li:first-child, .aside-links ul li:nth-child(2) {
  border-bottom: 2px solid #bbb;
}

.aside-links ul li:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #bbb;
}

.aside-links ul li .cv-download {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  padding: 1.5rem;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 5;
}

.scroll-top i {
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #000;
  background-color: #ccc;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 6%;
  }
  25% {
    bottom: 5.5%;
  }
  50% {
    bottom: 5%;
  }
  75% {
    bottom: 5.5%;
  }
  100% {
    bottom: 6%;
  }
}

@keyframes bounce {
  0% {
    bottom: 6%;
  }
  25% {
    bottom: 5.5%;
  }
  50% {
    bottom: 5%;
  }
  75% {
    bottom: 5.5%;
  }
  100% {
    bottom: 6%;
  }
}

header {
  position: relative;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1490596541415-5afadbfbbf02?ixlib=rb-0.3.5&s=a8ae8b389cf5b5f281ac4091334c09b6&auto=format&fit=crop&w=2009&q=100") no-repeat 0/cover;
  background-attachment: fixed;
}

header .navbar-header {
  padding: 1.5rem .5rem;
}

header .navbar-header .my-name {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: .5px;
  padding-left: 1rem;
  text-transform: uppercase;
}

header nav {
  max-width: 100vw;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0;
}

header nav .container .navbar li {
  list-style: none;
  padding: 0 .5rem;
}

header nav .container .hamburger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  z-index: 4;
}

header nav .container .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .container .hamburger:hover {
  cursor: pointer;
}

header nav .container .hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

header nav .container .hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

header nav .container .hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

header nav .container .nav-links {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
}

header nav .container .nav-links:hover {
  background-color: #3498db;
}

header .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

header .jumbotron h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header .jumbotron p {
  font-size: 6rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header .jumbotron span {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  height: 80px;
  padding: 1rem 0;
  text-align: center;
}

header .jumbotron-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  color: #fff;
  font-size: 2rem;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fixed-nav header nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  z-index: 1;
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.fixed-nav header nav .my-name {
  color: #3498db;
}

.fixed-nav header nav .hamburger .line {
  background-color: #3498db;
}

.fixed-nav header nav .nav-links {
  color: #000;
}

.fixed-nav header nav .nav-links:hover {
  color: #fff;
}

.about {
  padding: 8rem 0;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container img {
  max-width: 500px;
  max-height: 600px;
  border: 6px solid #fff;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
}

.about .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  margin-left: 2rem;
}

.about .container article h1 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.about .container article h1 span {
  font-size: 2rem;
  font-weight: 400;
  color: #3498db;
}

.about .container article h1:after {
  position: absolute;
  content: '';
  background-color: #000;
  height: 3px;
  width: 6rem;
  left: 0;
  bottom: 10px;
}

.about .container article p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  padding: 1rem 0;
  letter-spacing: .5px;
  line-height: 1.6rem;
}

.about .container article a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: #3498db;
  -webkit-transition: .5s;
  transition: .5s;
}

.about .container article a:hover {
  border-radius: 0;
}

.skills {
  padding: 8rem 0;
  background-color: #f3f3f3;
}

.skills h2 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.skills h2 span {
  font-size: 2rem;
  font-weight: 700;
  color: #3498db;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills ul li {
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  max-width: 205px;
  border: 5px solid transparent;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
}

.skills ul li:hover {
  border: 5px solid #000;
  background-color: #0b4f7c;
}

.skills ul li:hover i {
  color: #000;
}

.skills ul li:hover .tech-name,
.skills ul li:hover .stars {
  visibility: visible;
}

.skills ul li i {
  font-size: 8rem;
}

.skills ul li .tech-name {
  visibility: hidden;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ce930a;
  top: 30%;
  left: 50%;
  padding-bottom: .5rem;
  border-bottom: 2px solid #ce930a;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.skills ul li .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.skills ul li .stars span {
  font-size: 1.5rem;
  color: #fff;
}

.skills ul li .stars .checked {
  color: #ce930a;
}

@-webkit-keyframes scaleButton {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleButton {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.interested {
  max-width: 100vw;
  background-color: #3498db;
  text-align: center;
}

.interested .container {
  padding: 3rem 0;
}

.interested .container p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  padding: 2rem 0;
}

.interested .container .button-container {
  margin: 0 auto;
  max-width: 250px;
  padding: 2rem 0;
  -webkit-animation: scaleButton 2s infinite;
  animation: scaleButton 2s infinite;
}

.interested .container a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3498db;
  padding: .7rem 1.5rem;
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.interested .container a:hover {
  border-radius: 0;
}

.projects {
  background-color: #f3f3f3;
  padding: 8rem 0;
}

.projects .projects-text {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.projects .projects-text span {
  color: #3498db;
}

.projects main {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  min-height: 240px;
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 2rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects .project-content a {
  text-decoration: none;
}

.projects .project-content figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects .project-content figcaption {
  padding: 0 .5rem;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.projects .project-content:hover {
  background-color: #fff;
}

.projects .project-image {
  max-width: 280px;
  max-height: 180px;
  border: 3px solid #ccc;
}

.contact {
  padding: 6rem 0;
  background-color: #fff;
  margin: 0 5rem;
}

.contact .container h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.contact .container h2 span {
  color: #3498db;
}

.contact .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact .container .input-container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact .container .input-effect {
  position: relative;
  margin-top: 1.5rem;
}

.input-1,
.input-2,
.textarea {
  width: 100%;
  height: 40px;
  outline: none;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.input-1 ~ .focus-border,
.input-2 ~ .focus-border,
.textarea ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-1:focus ~ .focus-border,
.has-content.input-1 ~ .focus-border,
.input-2:focus ~ .focus-border,
.has-content.input-2 ~ .focus-border,
.textarea:focus ~ .focus-border,
.has-content.textarea ~ .focus-border {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

.submit {
  min-width: 250px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: none;
  background-color: #3498db;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.submit:hover {
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

footer {
  margin-top: 2rem;
  padding: .5rem 0;
  background-color: #1c1c1c;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .container ul li {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  margin: 0 .5rem;
}

footer .container ul li i {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem;
}

footer .container ul li:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.1);
}

footer .container ul li .footer-cv-download {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
}

footer .container p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.col-lg-3 {
  width: calc((100%/12) * 3);
}

.col-lg-3 {
  width: 25%;
}

.col-lg-5 {
  width: calc((100%/12) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-12 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .projects main {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 1050px) {
  .col-sm-4 {
    width: calc((100%/12) * 4);
  }
  .col-sm-5 {
    width: calc((100%/12) * 5);
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: calc((100%/12) * 8);
  }
  .col-sm-10 {
    width: calc((100%/12) * 10);
  }
  .col-sm-12 {
    width: 100%;
  }
  body.fixed-nav header nav .navbar {
    background-color: #fff;
  }
  body.fixed-nav header nav .navbar.navbar-collapse li a {
    color: #3498db;
  }
  header nav .container {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header nav .container .navbar-header {
    z-index: 3;
  }
  header nav .container .navbar {
    padding-top: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
  }
  header nav .container .navbar.navbar-collapse {
    width: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header nav .container .navbar.navbar-collapse li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .5rem 0;
  }
  header nav .container .navbar.navbar-collapse li a {
    text-align: center;
    width: 300px;
    padding: 1rem 0;
    color: #fff;
  }
  header nav .container .navbar.navbar-collapse li a:hover {
    color: #000;
  }
  header nav .container .hamburger {
    display: block;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .container img {
    margin: 0 auto;
  }
  .about .container article {
    margin: 0;
    margin-top: 3rem;
  }
  .skills ul {
    padding: 0 3rem;
    margin: 0 3rem;
  }
  .skills ul li {
    margin: 2.5rem;
  }
  .skills ul li .stars,
  .skills ul li .tech-name {
    left: 50%;
  }
  .projects main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .projects main div {
    margin: 0 auto;
  }
  .contact {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 815px) {
  .skills ul {
    padding: 0 1rem;
    margin: 0 1rem;
  }
  .skills ul li {
    margin: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .col-xs-4 {
    width: calc((100%/12) * 4);
  }
  .col-xs-5 {
    width: calc((100%/12) * 5);
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-8 {
    width: calc((100%/12) * 8);
  }
  .col-xs-10 {
    width: calc((100%/12) * 10);
  }
  .col-xs-12 {
    width: 100%;
  }
  header .jumbotron h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    padding: 2rem 0;
  }
  header .jumbotron p {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    padding: 2rem 0;
  }
  header .jumbotron span {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    padding: 2rem 0;
  }
  header .jumbotron-arrow {
    display: none;
  }
  .about {
    padding: 6rem 0;
  }
  .skills {
    padding: 6rem 0;
  }
  .skills ul {
    padding: 0 1rem;
    margin: 0;
  }
  .skills ul li {
    margin: 1rem;
  }
  .projects {
    padding: 6rem 0;
  }
  .projects main {
    margin: 2rem 0;
  }
  .projects .project-content {
    margin: 2rem 0;
  }
  .contact .container form .input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .container p {
    margin-top: 1rem;
    padding: 1rem;
  }
  footer .container ul {
    padding: 1rem;
  }
}
