@import '../colors/index.scss';
@import '../mixins/index.scss';

#skills {
  padding: 3rem 0;
  background-color: $light-grey;
  h2 {
    text-align: center;
    padding: 3rem 0;
    @include font(2rem, 400, $black);
    span {
      @include font(2rem, 700, $light-blue);
    }
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    li {
      margin: 1.5rem;
      padding: 1.5rem;
      border: 5px solid transparent;
      -webkit-transition: .5s;
      transition: .5s;
      &:hover {
        border: 5px solid black;
      }
    }
    i {
    font-size: 8rem;
    }
  }
}
