@import '../colors/index.scss';
@import '../mixins/index.scss';



.skills {
  padding: 6rem 0;
  background-color: $light-grey;
  h2 {
    text-align: center;
    padding-bottom: 3rem;
    @include font(2rem, 400, $black);
    span {
      @include font(2rem, 700, $light-blue);
    }
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    li {
      margin: 1.5rem;
      padding: 1.5rem 2rem;
      border: 5px solid transparent;
      border-radius: 20px;
      -webkit-transition: .3s;
      transition: .3s;
      cursor: pointer;
      position: relative;
      &:hover {
        border: 5px solid $black;
        background-color: $dark-blue;
        i {
          color: $black
        }
      }

      &:hover .tech-name,
      &:hover .stars {
        visibility: visible;
      }
      i {
      font-size: 8rem;
      }
      .tech-name {
        visibility: hidden;
        position: absolute;
        @include font(1.5rem, 700, $orange)
        top: 30%;
        left: 50%;
        padding-bottom: .5rem;
        border-bottom: 2px solid $orange;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
      }
      .stars {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        visibility: hidden;
        top: 60%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);

        span {
          font-size: 1.5rem;
          color: $white;
        }
        .checked {
          color: $orange;
        }
      }
    }
  }
}
