@import '../mixins/index.scss';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  @include font(62.5%, 400, #000);
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
