@import '../mixins/index.scss';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  @include font(62.5%, 400, #000);
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}



.col-lg-12 {
  width: 100%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: calc((100%/12) * 5 )
}
.col-lg-3 {
  width: calc((100%/12) * 3 );
}
