@import '../mixins/index.scss';
@import '../colors/index.scss';

.projects {
  background-color: $light-grey;
  padding: 8rem 0;
  .projects-text {
    padding-bottom: 2rem;
    text-align: center;
    @include font(2rem, 400, $black);
    span {
      color: $light-blue
    }
  }
  main {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    min-height: 240px;
    border: 2px solid $grey;
    padding: 1rem;
    margin: 2rem;
    -webkit-transition: .5s;
    transition: .5s;
    a {
      text-decoration: none;
    }
    figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    figcaption {
      padding: 0 .5rem;
      line-height: 1.2rem;
      @include font(1rem, 400, $black);
    }
    &:hover {
      background-color: $white;
    }
  }
  .project-image {
    max-width: 280px;
    max-height: 180px;
    border: 3px solid $grey;
  }
}
