.contact {
  padding: 6rem 0;
  background-color: #fff;
  margin: 0 5rem;
}

.contact .container h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.contact .container h2 span {
  color: #3498db;
}

.contact .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact .container .input-container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact .container .input-effect {
  position: relative;
  margin-top: 1.5rem;
}

.input-1,
.input-2,
.textarea {
  width: 100%;
  height: 40px;
  outline: none;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.input-1 ~ .focus-border,
.input-2 ~ .focus-border,
.textarea ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  -webkit-transition: .5s;
  transition: .5s;
}

.input-1:focus ~ .focus-border,
.has-content.input-1 ~ .focus-border,
.input-2:focus ~ .focus-border,
.has-content.input-2 ~ .focus-border,
.textarea:focus ~ .focus-border,
.has-content.textarea ~ .focus-border {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

.submit {
  min-width: 250px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: none;
  background-color: #3498db;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.submit:hover {
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
}
