@import '../mixins/index.scss';
@import '../colors/index.scss';

.col-lg-3 {
  width: calc((100%/12) * 3 );
}
.col-lg-3 {
  width: 25%;
}
.col-lg-5 {
  width: calc((100%/12) * 5 )
}
.col-lg-6 {
  width: 50%;
}
.col-lg-12 {
  width: 100%;
}



@media only screen and (max-width: 1200px) {
  .projects {
    main {
      margin: 2rem 0;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .col-sm-4 {
    width: calc((100%/12) * 4 );
  }
  .col-sm-5 {
    width: calc((100%/12) * 5 );
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: calc((100%/12) * 8 );
  }
  .col-sm-10 {
    width: calc((100%/12) * 10 );
  }
  .col-sm-12 {
    width: 100%;
  }
  body.fixed-nav header nav {
    .navbar {
      background-color: $white;
      &.navbar-collapse {
        li {
          a {
            color: $light-blue;
          }
        }
      }
    }
  }
  header {
    nav {
      .container {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .navbar-header {
          z-index: 3;
        }
        .navbar {
          padding-top: 5rem;
          background-color: rgba(0,0,0, .8);
          display: none;
          position: fixed;
          &.navbar-collapse {
            width: 100%;
            z-index: 2;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin: .5rem 0;
              a {
                text-align: center;
                width: 300px;
                padding: 1rem 0;
                color: $white;
                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
        .hamburger {
          display: block;
        }
      }
    }
  }
  .about {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      img {
        margin: 0 auto;
      }
      article {
        margin: 0;
        margin-top: 3rem;
      }
    }
  }
  .skills {
    ul {
      padding: 0 3rem;
      margin: 0 3rem;
      li {
        margin: 2.5rem;
        .stars,
        .tech-name {
          left: 50%;
        }
      }
    }
  }
  .projects {
    main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      div {
        margin: 0 auto;
      }
    }
  }
  .contact {
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 815px) {
  .skills {
    ul {
      padding: 0 1rem;
      margin: 0 1rem;
      li {
        margin: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .col-xs-4 {
    width: calc((100%/12) * 4 );
  }
  .col-xs-5 {
    width: calc((100%/12) * 5 );
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-8 {
    width: calc((100%/12) * 8 );
  }
  .col-xs-10 {
    width: calc((100%/12) * 10 );
  }
  .col-xs-12 {
    width: 100%;
  }
  header {
    .jumbotron {
      h1 {
        @include font(3rem, 400, $white);
        padding: 2rem 0;
      }
      p {
        @include font(4rem, 400, $white);
        padding: 2rem 0;
      }
      span {
        @include font(2rem, 400, $white);
        padding: 2rem 0;
      }
    }
    .jumbotron-arrow {
      display: none;
    }
  }
  .about {
    padding: 6rem 0;

  }

  .skills {
    padding: 6rem 0;
    ul {
      padding: 0 1rem;
      margin: 0;
      li {
        margin: 1rem;
      }
    }
  }
  .projects {
    padding: 6rem 0;
    main {
      margin: 2rem 0;
    }
    .project-content {
      margin: 2rem 0;
    }
  }
  .contact {
    .container {
      form {
        .input-container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }
      }
    }
  }
  footer {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      p {
        margin-top: 1rem;
        padding: 1rem;
      }
      ul {
        padding: 1rem;
      }
    }
  }
}
